@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #000;
  --foreground: #fff;
  --primary: #02235f;
  /*   --secondary: #0ba7da;
 */
  --secondary: rgb(255, 57, 57);

  --mainBrightness: 1.1;
}

::-webkit-scrollbar {
  @apply w-1.5;
}

::-webkit-scrollbar-track {
  @apply bg-transparent;
}

::-webkit-scrollbar-thumb {
  @apply rounded-[4px] bg-secondary;
}

h1 {
  @apply text-xl font-medium sm:text-2xl md:text-3xl lg:text-4xl xl:text-5xl;
}

h2 {
  @apply text-lg font-medium sm:text-xl md:text-2xl lg:text-3xl xl:text-4xl;
}

h3 {
  @apply text-base font-medium sm:text-lg md:text-xl lg:text-2xl xl:text-3xl;
}

.headerBorder {
  @apply after:absolute after:-bottom-4 after:left-1/2 after:h-1 after:w-20 after:rounded-md after:bg-secondary after:max-md:-translate-x-1/2 after:md:left-0;
}

.movieCards-container {
  @apply grid grid-cols-1 gap-4 px-6 md:grid-cols-2 lg:grid-cols-3 xl:grid-cols-4 2xl:grid-cols-5;
}

.mainLink {
  @apply hover:brightness-main flex w-fit items-center gap-2 rounded-md bg-secondary px-6 py-2 capitalize text-foreground text-white transition;
}
